@import "tailwindcss";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  color: rgb(46, 46, 46);
}

/* Seletor descendente */
footer p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Seletor classe */
.outro-texto {
  text-transform: uppercase;
}

p {
  line-height: 1.5;
}

h2,
h3 {
  margin: 0.5rem 0;
}
