*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  color: darkgrey;
}

/* Seletor descendente */
footer p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Seletor classe */
.outro-texto {
  text-transform: uppercase;
}
